p{
	color: red;
}

ol{
	margin-top: -20px;
	margin-left: -40px;
	list-style-position: inside;
}
.note{
	font-size: 20px;
}

#id-selector-demo{
	color: green;
}

li[value="4"]{
	color: blue;
}

*{
	text-align: center;
}